.trackBar {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  cursor: pointer;
  outline: none;
  bottom: 0;
  position: relative;
  display: flex;
  justify-items: center;
  align-items: center;
  position: absolute;
  height: 4px;
}

/* Thumb: webkit */
.trackBar::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 15px;
  width: 15px;
  display: flex;
  align-items: center;
  border: none;
  top: 0;
  margin-bottom: 10px;
  position: relative;
  background: var(--main-bg-color);
  border-radius: 50%;
  transition: 0.2s ease-in-out;
}

/* Thumb: Firefox */
.trackBar::-moz-range-thumb {
  height: 6px;
  width: 6px;
  background-color: #f50;
  background-size: cover;
  border-radius: 50%;
  border: none;
  transition: 0.2s ease-in-out;
}

/* Hover, active & focus Thumb: Webkit */
.trackBar::-webkit-slider-thumb:hover {
  position: relative;
  background: var(--main-bg-color);
  padding-bottom: 10px;
}
.trackBar:active::-webkit-slider-thumb {
  position: relative;
  background: var(--main-bg-color);
  padding-bottom: 10px;
}
.trackBar:focus::-webkit-slider-thumb {
  box-shadow: 0 0 0 13px rgba(109, 14, 1, 0.25);
}

/* Hover, active & focus Thumb: Firfox */
.trackBar::-moz-range-thumb:hover {
  box-shadow: 0 0 0 10px rgba(255, 85, 0, 0.1);
  background: var(--main-bg-color);
}

.controls {
  position: absolute;
  bottom: 0;
  width: 100%;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.previewPopup {
  position: absolute;
  bottom: 10px;
  transform: translateX(-50%);
  padding: 5px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.previewVideo {
  width: 100px;
  height: 56px;
  object-fit: cover;
  pointer-events: none;
  display: inline-block;
}

/* Track: webkit browsers */
.trackBar::-webkit-slider-runnable-track {
  margin-top: 10px;
}

/* Track: Mozilla Firefox */
.trackBar::-moz-range-track {
  height: 5px;
  border-radius: 16px;
}
