.listContainer {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));

  /* flex-wrap: wrap;
  gap: 30px; */
  overflow-y: scroll;
}

.videoList {
  list-style-type: none;
}
