.videoContainer {
  width: 350px;
  overflow: hidden;
  margin: 20px;
  position: relative;
}

.placeholderImage {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

@media (max-width: 390px) {
  .videoContainer {
    margin: 0;
  }
}
